<form method="post" action="/names">
  <label for="P1Name">Player One Name</label>
  <input type="text" name="P1Name">
  <label for="P1Name">Player Two Name</label>
  <input type="text" name="P2Name">
  <input type ="submit" value="Submit">
</form>
