<form method="post" action="/names">
  <label for="P1Name">Player One Name
  <input type="text" name="P1Name"></label>
  <label for="P1Name">Player Two Name
  <input type="text" name="P2Name"></label>
  <input type ="submit" value="Submit">
</form>
